
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 20pt;
        }

        table {
            border: 2px solid #ccc;
            
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }
            #fileProgress{
                display:none;
            }
    </style>
</head>
<body>
    <form enctype="multipart/form-data">
        <input type="file" name="postedFile" />
        <input type="button" id="btnUpload" value="Upload" />
    </form>
    <progress id="fileProgress"></progress>
    <hr />
    <table class="table table-bordered" id="tblFiles" >
        <tr>
            <th >File ID</th>
            <th >File Name</th>
            <th >Download</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(function(){
            GetFiles();
        });
        function GetFiles() {
            $.ajax({
                type: "POST",
                url: "/api/FileAPI/GetFiles",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (files) {
                    $.each(files, function () {
                        AppendRow(this.id, this.Name);
                    });
                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
        };

        function AppendRow(id, name) {
            var row = $("#tblFiles tbody tr:last-child");

            //Remove if the row is dummy row.

            if (row.find("td:empty").length > 0) {
                row.remove();
            }

            row = row.clone();
            $("td", row).eq(0).html(id);
            $("td", row).eq(1).html(name);
            $("td", row).eq(2).html("");
            var a = $("<a />");
            a[0].href = '@Url.Content("~/api/FileAPI/GetFile?FileId=")' + id;
            a.html("Download");
            $("td", row).eq(2).append(a);
            $("#tblFiles tbody").append(row);
        };

        $("body").on("click", "#btnUpload", function () {
            $.ajax({
                url: '@Url.Content("~/api/FileAPI/SaveFile")',
                type: 'POST',
                data: new FormData($('form')[0]),
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#fileProgress").hide();
                    AppendRow(response.id, response.Name);
                },
                xhr: function() {
                    var fileXhr = $.ajaxSettings.xhr();
                    if (fileXhr.upload) {
                        $("progress").show();
                        fileXhr.upload.addEventListener("progress", function (e) {
                            if (e.lengthComputable) {
                                $("#fileProgress").attr({
                                    value: e.loaded,
                                    max: e.total,
                                });
                            }
                        } , false);
                    }
                    return fileXhr;
                }
            });
        });
    </script>
</body>
</html>