@using GeoStudent.Models
@model tblStudent
    @{ 
        StudentEntities db = new StudentEntities();
    }

<h1>Student Details</h1>
@using (Html.BeginForm())
{
    <table class="table table-responsive" >
        <thead>
            <tr>
                <th>Image</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in db.tblStudents)
            {
                <tr>
                    <td class="image"><img src="~/images/@item.ImageUrl" /></td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                </tr>
            }
        </tbody>
    </table>
    <br /><br />
    @Html.ActionLink("Return back to Upload","Index")
}