
@{
    Layout = null;
    if (Session["userId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>DashBoard</h1>
        <h3>UserName : @Session["userName"].ToString()</h3>
        <a href="@Url.Action("LogOut","Login")">Log Out</a>
    </div>
</body>
</html>
